#aboutt {
	padding-top:2em;
	padding-left:3em;
	color:red;
	font-size:3em;
	font-family:Comic Sans MS;
	text-decoration:bold;
}
#about {
	
}
body {
	background:url("bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}